{% extends "main/base.html" %}

{% block content %}
    <h1>Connectez-vous</h1>

    <ul>
        <li>
            <h2>Se connecter :</h2>

            {% if error %}
            <p><strong>Vous avez fait une erreur sur le mot de passe et/ou votre identifiant.</strong></p>
            {% endif %}

            {% if user.is_authenticated %}
            Nous sommes heureux de vous revoir, {{ user.username }} !
            {% else %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Se connecter"/>
            </form>
            {% endif %}
        </li>
        <li>
            <h2>Revenir à l'accueil : <a href="home.html"></a>Home.</h2>
        </li>
    </ul>
    <!--- mettre un formulaire simple avec envoyer pour le champ de recherche--->
{% endblock %}