<!DOCTYPE html>

<!--- This is a website for the fake company Pur Beurre, which is a project from the Openclassroom's Dev Python / Django path. --->
<!--- Created by Matthias GIL --->
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pur Beurre OC P8</title>
        <meta name="description" content="Pur Beurre's (fake society) website, part of the Openclassroom's Python/Django Developer path">
        <meta name="keywords" content="pur beurre, gras, vie, openclassroom, projet 8">
        <meta name="author" content="Matthias GIL">
        <!---<link rel="icon" type="image/png" href="favicons/favicon.ico" sizes="16x16">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="fonts/font-awesome-4.3.0/css/font-awesome.min.css">
        --->
        <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
           rel = "stylesheet">
        <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        
        <!-- Javascript -->
        <script>
           $(function() {
              $( "#id_product_to_search" ).autocomplete({
                 source: "/autocomplete/",
                 minLength: 2
              });
           });
        </script>
    </head>

    <body>
        <header>
            {% if user.is_authenticated %}
                <div class="status">Vous êtes connecté(e).</div>
            {% else %}
                <div class="status">Vous n'êtes pas connecté(e).</div>
            {% endif %}
            <h2>Bienvenue sur le site de Pur Beurre. Le (bon) gras, c'est la vie.</h2>
        </header>
        <nav>
            {% block nav %}

            {% endblock %}
        </nav>
        <section id="content">
            {% block content %}

            {% endblock %}
        </section>
    </body>

    <footer id="footer">
        &copy; Pur Beurre | Design by Matthias GIL
    </footer>

</html>